/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
	width: 1024px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.logo {
	height: 70px;
	float: left;
}
.nav {
	float: right;
}
a {
	text-decoration: none; /*urlの下線を消す昨日*/
}
.nav-list {
	float: left;
	width: 120px;
	line-height: 70px; /*nav-listの高さを調整する*/
	color: #FAFAFA;
	padding: 0 30px;
	list-style: none;
	font-size: 16px;
}
.nav-list a {
	color: #FAFAFA;
}
/*main-visual用?*/
#mv {
	width: 100%;
	height: 650px;
	text-align: center;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	color: #FAFAFA;
}
.mv-title {
	padding-top: 200px;
	font-size: 64px;
	font-family: 'Raleway', sans-serif;
}
.mv-text {
	padding-top: 10px;
	font-size: 20px;
}




































